@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_color: #e49733;
  --bg_primary_color: #f8ebd5;
  --bg_secondary_color: #fff5e4;
  --border_color: #63748c1a;
  --dark_primary_color: rgb(56, 189, 248);
  --dark_bg_primary_color: rgb(15, 23, 42);
  --dark_border_color: #46546852;
  --bg_surah_card: #fff5e4;
  --dark_bg_surah_card: #2b303a66;
  --bg_surah_number: #f8ebd5;
  --dark_bg_surah_number: #0f172a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .border-color {
    @apply border-[#46546852];
  }
}
